/* -
-*-~*~-*-*-~*~-*-*-~*~* |
●▬▬▬▬▬▬▬๑۩۩๑▬▬▬▬▬▬▬●
Made by ~
Areal Alien ❥ 雷克斯
●▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
──────▄▀▄─────▄▀▄
─────▄█░░▀▀▀▀▀░░█▄
─▄▄──█░░░░░░░░░░░█──▄▄
█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█
-*-~*~-*-*-~*~-*-*-~*~* |
- */
/* Globale Klasser */
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexbox-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexbox-start-col {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
/* Space */
.space {
  min-height: 100vh;
}
/* Navbar */
#navbar {
  margin: 0;
  width: 100%;
  height: 5em;
  color: var(--white);
  background-color: var(--bc);
  transition: all .25s ease-in-out;
  z-index: 100;
}
.navbar-inner {
    height: 100%;
    display: grid;
    padding: 0 2em;
    grid-template-columns: auto 75% 1fr;
    z-index: 100;
}
/* Navbar Left */
.navbar-left {
    height: 100%;
    padding: 0 2em 0 0;
    z-index: 100;
}
/* Nav Button */
#nav-button {
    margin: 0;
    width: 2em;
    height: 1.5em;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -o-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    transition: .35s cubic-bezier(.175,.685,.32,1.175);
    cursor: pointer;
    z-index: 110;
}
#nav-button span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--white);
    border-radius: 19px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -o-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    transition: .35s cubic-bezier(.175,.685,.32,1.175);
}
#nav-button span:nth-child(1) {
    top: 0;
}
#nav-button span:nth-child(2),#nav-button span:nth-child(3) {
    top: 0.75em;
}
#nav-button span:nth-child(4) {
    top: 1.5em;
}
#nav-button.open span:nth-child(1) {
    top: 2em;
    width: 0;
}
#nav-button.open span:nth-child(2) {
    width: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-button.open span:nth-child(3) {
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-button.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}
/* Navbar Center */
.navbar-center {
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 100;
}
.navbar-center svg {
    height: 2em;
    position: absolute;
    cursor: pointer;
}
/* Navbar Right */
.navbar-right {
    height: 100%;
    z-index: 100;
}
.flexbox-right a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
}
.profile-picture {
    width: 2.85rem;
    height: 2.85rem;
    cursor: pointer;
    z-index: 2;
}
.profile-picture img {
    border-radius: 50%;
}
/* Dropdown */
#dropdownmenu {
    top: 6.5em;
    right: 0;
    width: auto;
    display: none;
    position: absolute;
    background-color: black;
    color: var(--white);
    transition: all .25s ease-in-out;
    z-index: 100;
}
// #dropdownmenu::after {
//     content: "";
//     left: calc(100% - 2.65em - 1.425rem);
//     bottom: 100%;
//     width: 0;
//     height: 0;
//     position: absolute;
//     border-left: .6em solid transparent;
//     border-right: .6em solid transparent;
//     border-bottom: .6em solid var(--bc-bright);
//     clear: both;
//     transition: all .25s ease-in-out;
//     z-index: 100;
// }

.detail a {
    // padding: 1.4em 2.4em;
    color: var(--white);
    text-decoration: none;
    transition: color .25s ease-in-out;
    cursor: pointer;
}
.detail a:hover {
    color: var(--gray);
}

/* @media rules */
@media only screen and (max-width: 1660px) {

}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 7rem;
    }
    /* Profile */
    .profile-header-img-wrapper  {
        width: 70%;
    }
    .profile-header-note {
        width: 70%;
    }
    .profile-top {
        width: 70%;
    }
    .profile-page {
        width: 70%;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 6.5rem;
    }
    /* Profile */
    .profile-header-img-wrapper  {
        width: 75%;
    }
    .profile-header-note {
        width: 75%;
    }
    .profile-pic-wrapper {
        width: 12em;
        height: 12em;
    }
    .profile-pic-note {
        font-size: calc(var(--paragraph) - .1rem);
    }
    .profile-top {
        width: 75%;
        grid-column-gap: 1.5em;
    }
    .profile-page {
        width: 75%;
    }
    .profile-name {
        font-size: calc(var(--heading) - 1rem);
    }
    .profile-bio-wrapper {
        width: 75%;
    }
    .profile-page-inner {
        grid-template-columns: 1fr 1fr;
    }
    .profile-header-uploader-inner {
        padding: 4em 8em;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 3.5rem;
    }
    /* Navbar */
    .navbar-inner {
        padding: 0 2em;
        grid-template-columns: auto 1fr;
    }
    .navbar-center {
        display: none;
    }
}
@media only screen and (max-width: 496px) {
    :root {
        /* Sizes */
        --heading-large: 2.5rem;
    }
}